<div id="create-comment-modal" class = "hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create Your Comment</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="comment-input-element">
        <label for="comment-text-input">Post</label>
        <textarea id="comment-text-input"></textarea>
      </div>
      <div class="comment-input-element">
        <label for="comment-attribution-input">Author</label>
        <input type="text" id="comment-attribution-input">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Comment</button>
    </div>

  </div>
</div>