<header>
    <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    <a href="#">
        <h1 class="site-title">
            <i class="fas fa-gamepad"> </i> World 1-1 Forums </i>
        </h1>
    </a>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink active">
                <a href="/">Home</a>
            </li>
            <li class="navitem navlink">
                <a href="/tag/nintendo">
                    <i class="fab fa-nintendo-switch"></i> Nintendo</a>
            </li>
            <li class="navitem navlink">
                <a href="/tag/xbox">
                    <i class="fab fa-xbox">
                    </i> Xbox</a>
            </li>
            <li class="navitem navlink">
                <a href="/tag/playstation">
                    <i class="fab fa-playstation">
                    </i> PlayStation</a>
            </li>
            <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search... ">
                <button type="button" id="navbar-search-button">
                    <i class="fas fa-search"></i>
                </button>
            </li>
        </ul>
    </nav>
</header>
