<article class="post">
  <div class="post-content">
    <p class="post-text">
      {{text}}
    </p>
    <p class="post-attribution">
      <a href="#">{{author}}</a>
    </p>
  </div>
  <p class="tags-title">Tags:</p>
  <ul class="tags-list">
    {{#each tags}}
    <li class="tags">
        <a class={{this}} href="#">{{this}}</a>
    </li>
    {{/each}}
  </ul>
  <p class="comment-title">Comments:</p>
  {{#each comments}}
    {{> commentTemplate}}
  {{/each}}
  <button type="button" class="comment-button">
    <i class="far fa-comment-alt"></i>
  </button>
</article>
