<p class="home-page-welcome">Welcome to World 1-1 Forums, the starting level for all video game discussion!</p>

<main class="post-container">

    {{#each posts}}
        {{> postTemplate}}
    {{/each}}

</main>

<button type="button" class="create-new-button"> Make New Post! </button>

<p class="page-end">Website created by Griffin Thenell, Alex Bailey, Luke Penner and Joey Landreville</p>
