<p class="home-page-welcome">Welcome to World 1-1 Forums, the starting level for all video game discussion!</p>

<main class="post-container">

    <article class="post">
        <div class="post-content">
            <p class="post-text">
                Is anyone else more excited about TitanFall 3 and Respawn’s Star Wars game than Anthem? I hope we see them both at E3.
            </p>
            <p class="post-attribution">
                <a href="#">Max Meyer</a>
            </p>
        </div>
        <p class="tags-title">Tags:</p>
        <ul class="tags-list">
            <li class="tags">
                <a class="xbox" href="#">Xbox</a>
            </li>
            <li class="tags">
                <a class="playstation" href="#">PlayStation</a>
            </li>
        </ul>
        <p class="comment-title">Comments:</p>
        <div class="post-comment">
        </div>
        <hr/>
        <button type="button" class="comment-button">
            <i class="far fa-comment-alt"></i>
        </button>
    </article>

    <article class="post">
        <div class="post-content">
            <p class="post-text">
                I'll post my Platinum list here. I was a massive trophy hunter for about 2 years but have since dialed it back a little.
                I havent gotten one in a long time and I have no idea when my next one will be, maybe Rocket League. These
                arent in order of when I got them, just the order that playstation.com puts them in lol.
            </p>
            <p class="post-text">
                Ratchet and Clank (PS3), Resistance: Burning Skies (Vita), Jak and Daxter: The Precursor Legacy (PS3), inFAMOUS Second Son
                (PS4), Unit 13 (Vita), Smart As (Vita), inFAMOUS 2 (PS3), Need for Speed Rivals (PS4), Rayman Origins (Vita),
                Madden 25 (PS4), God of War 3 (PS3), Velocity Ultra (PS3/Vita), PlayStation All Stars Battle Royale (Vita),
                Resogun (PS4), Sleeping Dogs (PS3), Guacamelee (PS3), Uncharted 3: Drake's Deception (PS3), Sound Shapes
                (PS3, Vita, and PS4)
            </p>
            <p class="post-text">
                For a total of 20. I'm REALLY proud of quite a few of these.
            </p>
            <p class="post-attribution">
                <a href="#">Miller AKA GetSomeGames</a>
            </p>
        </div>
        <p class="tags-title">Tags:</p>
        <ul class="tags-list">
            <li class="tags">
                <a class="playstation" href="#">PlayStation</a>
            </li>
        </ul>
        <p class="comment-title">Comments:</p>
        <div class="post-comment">
            <hr/>
            <button type="button" class="comment-button">
                <i class="far fa-comment-alt"></i>
            </button>
    </article>

    <article class="post">
        <div class="post-content">
            <p class="post-text">
                I wonder how we Train our Pokemon in Let's Go Pikachu and Eevee 🤔
            </p>
            <p class="post-attribution">
                <a href="#">Benjamin Robmann</a>
            </p>
        </div>
        <p class="tags-title">Tags:</p>
        <ul class="tags-list">
            <li class="tags">
                <a class="nintendo" href="#">Nintendo</a>
            </li>
        </ul>
        <p class="comment-title">Comments:</p>
        <div class="post-comment">
            <p class="post-comment-text">
                I really don’t mind Go catching mechanics. It can be fun. But i really hope the game has normal leveling.
            </p>
            <p class="post-comment-attribution">
                <a href="#">Mike Kurzer</a>
            </p>
        </div>
        <hr/>
        <div class="post-comment">
            <p class="post-comment-text">
                With hopes and dreams man... :)
            </p>
            <p class="post-comment-attribution">
                <a href="#">Silvestre Sanchez</a>
            </p>
        </div>
        <hr/>
        <button type="button" class="comment-button">
            <i class="far fa-comment-alt"></i>
        </button>
    </article>

    <article class="post">
        <div class="post-content">
            <p class="post-text">
                I gotta talk about this! I've never played a Warriors game before and wasn't sure I would enjoy this. I loved Senran Kagura
                on the 3DS so I figured this could be similar in terms of gameplay. This game just rocks! The attention to
                detail and fanservice is spot on. The gameplay is perfect if you just want to have some fun for short bursts
                of time. Each battle takes around 10-20 minutes and it never gets boring as new missions and objectives constantly
                pop up.
            </p>
            <p class="post-text">
                Did I mention the fanservice?! Like how Link puts away his sword in the opening cinematic just like in the reveal trailer
                of what would become Twilight Princess.
            </p>
            <p class="post-text">
                Get this game!
            </p>
            <p class="post-attribution">
                <a href="#">Finn Ptrsn</a>
            </p>
        </div>
        <p class="tags-title">Tags:</p>
        <ul class="tags-list">
            <li class="tags">
                <a class="nintendo" href="#">Nintendo</a>
            </li>
        </ul>
        <p class="comment-title">Comments:</p>
        <div class="post-comment">
            <p class="post-comment-text">
                Scan 5 amiibo a day to help with the massive grind... got 50k rupees yesterday lol
            </p>
            <p class="post-comment-attribution">
                <a href="#">Steve Zacharakis</a>
            </p>
        </div>
        <hr/>
        <div class="post-comment">
            <p class="post-comment-text">
                There are only two kinds of Nintendo fans: those who like Hyrule Warriors and those who will.
            </p>
            <p class="post-comment-attribution">
                <a href="#">Justin Luey</a>
            </p>
        </div>
        <hr/>
        <button type="button" class="comment-button">
            <i class="far fa-comment-alt"></i>
        </button>
    </article>

    <article class="post">
        <div class="post-content">
            <p class="post-text">
                Well, if you don't have the premium and use the spotify on Xbox one you can play any music anytime in any playlist and jump
                how much musics you want. This is only for premium members but you can do this on Xbox one too. I don't know
                is a bug or a "special gift for Xbox live members" but you can do this. The adds still on non premium members
                but is only 30 seconds or one minute of add.
            </p>
            <p class="post-attribution">
                <a href="#">Thebereis</a>
            </p>
        </div>
        <p class="tags-title">Tags:</p>
        <ul class="tags-list">
            <li class="tags">
                <a class="xbox" href="#">Xbox</a>
            </li>
        </ul>
        <p class="comment-title">Comments:</p>
        <div class="post-comment">
            <p class="post-comment-text">
                Spotify only disables you from song jumping on handheld phones. You don't need premium to play any specific music on Tablets,
                Consoles, or Computers.
            </p>
            <p class="post-comment-attribution">
                <a href="#">The Baconadian</a>
            </p>
        </div>
        <hr/>
        <div class="post-comment">
            <p class="post-comment-text">
                It's the same as if your were using Spotify on a PC. You only get the janky non-premium functionality on mobile devices.
            </p>
            <p class="post-comment-attribution">
                <a href="#">sec713</a>
            </p>
        </div>
        <hr/>
        <button type="button" class="comment-button">
            <i class="far fa-comment-alt"></i>
        </button>
    </article>
</main>

<button type="button" class="create-new-button"> Make New Post! </button>

<p class="page-end">Website created by Griffin Thenell, Alex Bailey, Luke Penner and Joey Landreville</p>
