<main>
	<p class = "home-page-welcome">Which category would you like to see?</p>

	<div class="tags-button-box">
		<a href="/"><button type="button" class="tags-button"> <i class="fas fa-gamepad"></i> All </button></a>
	</div>

	<div class="tags-button-box">
		<a href="/tags/xbox"><button type="button" class="tags-button"> <i class="fab fa-xbox"></i> Xbox </button></a>
	</div>

	<div class="tags-button-box">
		<a href="/tags/nintendo"><button type="button" class="tags-button"> <i class="fab fa-nintendo-switch"></i> Nintendo </button></a>
	</div>

	<div class="tags-button-box">
		<a href="/tags/playstation"><button type="button" class="tags-button"> <i class="fab fa-playstation"></i> PlayStation </button></a>
	</div>
	
</main>

<p class="page-end">Website created by Griffin Thenell, Alex Bailey, Luke Penner and Joey Landreville</p>
