<main>
	 <p class = "home-page-welcome">Which category would you like to see?</p>
	
	 <div class="tags-button-box">
	   <button type="button" class="tags-button"> <i class="fas fa-gamepad"></i> All </button>
	 </div>
	
	 <div class="tags-button-box">
	   <button type="button" class="tags-button"> <i class="fab fa-xbox"></i> Xbox </button>
	 </div>
	
	 <div class="tags-button-box">
	   <button type="button" class="tags-button"> <i class="fab fa-nintendo-switch"></i> Nintendo </button>
	 </div>
	
	 <div class="tags-button-box">
	   <button type="button" class="tags-button"> <i class="fab fa-playstation">
		  </i> PlayStation </button>
	 </div>
   </main>